#main {
  background-color: gray;
  height: 100vh;
  width: 100vw;
}

#calculator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #FFFF00;
  padding: 10px;
}

.button {
  height: 70px;
  width: 70px;
  background-color: rgb(60, 60, 60);
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#display {
  height: 50px;
  width: 255px;
  padding: 10px;
  border: 2px solid black;
  background-color: white;
  margin-bottom: 5px;
  font-size: 30px;
  text-align: right;
}
#decimal {
  height: 80px;
  width: 280px;
  background-color: rgb(60, 60, 60);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
}

@media (max-width: 700px) {
    .button{
      height: 50px;
      width: 50px;
    }
    #decimal{
      height: 50px;
      width:200px;
    }
    #display{
      height: 40px;
      width: 177px;
    }
}

#clear {
  background-color: red;
}
#equals {
  background-color: royalblue;
}
#divide{
  background-color: rgb(103, 103, 103);
}
#multiply{
  background-color: rgb(103, 103, 103);
}
#subtract{
  background-color: rgb(103, 103, 103);
}
#add {
  background-color: rgb(103, 103, 103);
}